body{
    background-color: #FFFFFF;
    width: 900px;   
    font-family: 'Arial', sans-serif;
}
header{
    background-color: #33BEBE ;
    color: #FFFFFF;
    height: 70px;
    display: flex;
    margin: 10pxpx;
    padding: 0%;
}
header h1{
    margin-left: 10px;
    align-content: flex-end;
}
div{ 
    margin: 10px;
    display: inline-flex;
}
div p{
    color: #7C8B88;
}
image{
    float: left;
}
body header,
body div{
    position: relative;
    justify-self: center;
}
